<template>
  <v-app>
    <toolbar :state="layout" />
    <v-content style="padding-top: 70px;">
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import toolbar from '~/components/toolbar.vue'
export default {
  components: {
    toolbar
  },
  data: () => ({
    layout: {
      drawer: true,
      drawerRight: true,
      right: null,
      left: null
    }
  })
}
</script>
