<template>
  <v-dialog v-model="visible" max-width="500px">
    <v-card>
      <v-card-title>Acessar</v-card-title>
      <v-card-text>
        <v-text-field label="Nome de usuário" required v-model="username" />
        <v-text-field label="Senha" type="password" required v-model="password" @keyup.enter="login()" />
        <small style="color: red;" v-if="error">Usuário ou senha inválidos</small>
      </v-card-text>
      <v-card-actions>
        <v-btn class="grey--text" text @click="close()">Cancelar</v-btn>
        <v-spacer />
        <v-btn class="white--text" color="amber" depressed @click="login()" :loading="loading" :disabled="loading">Acessar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import api from '~api'
import Snacks from '~/helpers/Snacks.js'

export default {
  data () {
    return {
      visible: false,
      loading: false,
      username: '',
      password: '',
      error: false
    }
  },
  methods: {
    open () {
      this.visible = true
    },
    close () {
      this.visible = false
    },
    async login () {
      this.loading = true
      this.error = false
      const user = await api.login(this.username, this.password)
      try {
        if (user) {
          this.$store.commit('auth/setCurrentUser', user)
          this.visible = false
          this.$router.push({ name: 'swarms', params: { username: this.username } })
        } else {
          this.error = true
        }
      } catch (error) {
        Snacks.show(this.$store, {
          text: 'Não foi possível fazer login',
          color: 'error'
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
