<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-row dense justify="start">
          <v-col v-for="specie in species" :key="specie.id">
            <v-card class="mb-4" width="250" outlined>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title class="headline">{{ specie.name }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-card-text>{{ specie.description }}</v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: ['species'],
  data () {
    return {
    }
  },
  methods: {}
}
</script>

<style scoped>
</style>
