<template>
  <v-card class="mx-auto my-12" width="500" ref="form">
    <v-card-title>Cadastro de enxame</v-card-title>

    <v-card-text>
      <v-menu v-model="calendar" :close-on-content-click="false" max-width="290">
        <template v-slot:activator="{ on }">
          <v-text-field
            label="Data de captura"
            clearable
            readonly
            v-on="on"
            :value="dateFormatted"
            @click:clear="swarm.dateCapture = null"
          />
        </template>
        <v-date-picker color="amber" v-model="swarm.dateCapture" :max="maxDate" @change="calendar = false" />
      </v-menu>

      <v-select
        v-model="swarm.specieId"
        item-value="id"
        item-text="name"
        :items="species"
        label="Espécie"
      />

      <v-btn color="amber" block dark depressed @click="save()">Salvar</v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment'
import api from '~api'
import Snacks from '~/helpers/Snacks.js'

export default {
  data () {
    return {
      swarm: {
        dateCapture: null,
        specieId: null
      },
      calendar: false,
      species: []
    }
  },
  computed: {
    dateFormatted () {
      return this.swarm.dateCapture ? moment(this.swarm.dateCapture).format('DD [de] MMM [de] YYYY') : ''
    },
    userName () {
      return this.$store.state.auth.currentUser.username
    },
    maxDate () {
      return new Date().toISOString()
    }
  },
  async mounted () {
    const response = await api.listSpecie()
    this.species = response.data
  },
  methods: {
    async save () {
      try {
        await api.addSwarm(this.swarm)
        this.$router.push({ name: 'swarms', params: { username: this.userName } })
      } catch (error) {
        Snacks.show(this.$store, {
          text: `Não foi possível fazer login Error: ${error}`,
          color: 'error'
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
