<template>
  <v-card class="mx-auto" width="960">
    <template  v-if="swarms && swarms.length">
      <v-toolbar flat>
        <v-toolbar-title class="grey--text">Meus enxames</v-toolbar-title>

        <v-spacer />

        <v-btn color="amber" outlined :to="{ name: 'swarm-register' }">
          Adicionar
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-toolbar>

      <v-divider />

      <v-card-text>
        <template v-for="swarm in swarms">
          <v-card class="mx-auto mb-2" outlined :key="swarm.id">
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title class="headline">{{ swarm.specieName }}</v-list-item-title>
                <v-list-item-subtitle>{{ swarm.dateCapture | formatDate('DD MMM YYYY') }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </template>
      </v-card-text>
    </template>
    <template v-else>
      <v-card-text>
        <h4 t-item-title class="text-center headline">Você ainda não possui nenhum enxame cadastrado :(</h4>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="amber" outlined :to="{ name: 'swarm-register' }">
          Cadastrar primeiro enxame
        </v-btn>
        <v-spacer />
      </v-card-actions>
    </template>
  </v-card>
</template>

<script>

export default {
  props: ['swarms'],
  data () {
    return {}
  },
  methods: {}
}
</script>

<style scoped>
</style>
