<template>
  <v-app-bar fixed flat color="amber" dark tile>
    <v-toolbar-title>beehapp</v-toolbar-title>
    <v-btn class="ml-4" text exact :to="{ name: 'home' }">Home</v-btn>
    <v-btn v-if="!!logged_user" class="ml-4" text exact :to="{ name: 'swarms', params: { username: userName } }">Meus enxames</v-btn>
    <v-spacer />
    <v-btn text @click.stop="goToRegister" v-if="!logged_user">Cadastre-se</v-btn>
    <v-btn outlined @click.stop="open_login_dialog" v-if="!logged_user">Acessar</v-btn>

    <v-menu bottom transition="slide-y-transition" v-if="!!logged_user">
      <template v-slot:activator="{ on }">
        <v-btn text v-on="on">
          {{ firstUserName }}
          <v-avatar color="white ml-4" size="26">
            <span class="amber--text">{{ initialUserName }}</span>
          </v-avatar>
        </v-btn>
      </template>

      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i" @click="item.action()">
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <login-dialog ref="login_dialog" />
  </v-app-bar>
</template>

<script>
import loginDialog from '~/components/login-dialog.vue'
import api from '~api'

export default {
  components: {
    loginDialog
  },
  props: ['state'],
  computed: {
    logged_user () {
      return this.$store.state.auth.currentUser
    },
    items () {
      return [
        { title: 'Meus enxames', action: this.goToSwarms },
        { title: 'Sair', action: this.logout }
      ]
    },
    userName () {
      return this.logged_user.username
    },
    firstUserName () {
      return this.logged_user.first_name ||
        this.logged_user.username
    },
    initialUserName () {
      return this.firstUserName.substring(0, 1)
    }
  },
  methods: {
    open_login_dialog () {
      this.$refs.login_dialog.open()
    },
    goToRegister () {
      this.$router.push({ name: 'user-register' })
    },
    async logout () {
      await api.logout()
      this.$store.commit('auth/setCurrentUser', null)
      this.$router.push({ name: 'home' })
    },
    goToSwarms () {
      this.$router.push({ name: 'swarms', params: { username: this.userName } })
    }
  }
}
</script>
