<template>
  <v-card class="mx-auto my-12" width="500" ref="form">
    <v-card-title>Cadastre-se</v-card-title>

    <v-card-text>
      <v-text-field
        label="Primeiro nome"
        autofocus
        required
        v-model="user.first_name"
      />
      <v-text-field
        label="Nome de usuário"
        required
        v-model="user.username"
      />
      <v-text-field
        label="Senha"
        type="password"
        required
        v-model="user.password1"
      />
      <v-text-field
        label="Confirme a senha"
        type="password"
        required
        v-model="user.password2"
      />
      <small style="color: red;" v-if="!!hasAnError" v-html="hasAnError" />
      <v-btn color="amber" block dark depressed @click="save()">Cadastrar</v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
import api from '~api'
import Snacks from '~/helpers/Snacks.js'

export default {
  data () {
    return {
      user: {
        first_name: null,
        username: null,
        password1: null,
        password2: null
      },
      error: null
    }
  },
  computed: {
    hasAnError () {
      return this.error
    }
  },
  methods: {
    async save () {
      try {
        const registered = await api.addUser(this.user)
        if (registered.errors) {
          this.error = registered.errors.password2.join('<br>')
          return
        }

        const user = await api.login(this.user.username, this.user.password1)
        if (user) {
          this.$store.commit('auth/setCurrentUser', user)
          this.$router.push({ name: 'swarms', params: { username: this.user.username } })
        }
      } catch (error) {
        this.error = error
        Snacks.show(this.$store, {
          text: `Não foi possível fazer login Error: ${error}`,
          color: 'error'
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
