<template>
  <v-layout>
    <swarm-list :swarms="swarms" />
  </v-layout>
</template>

<script>
import swarmList from '~/components/swarm-list.vue'
import api from '~api'

export default {
  layout: 'complex',
  components: {
    swarmList
  },
  data () {
    return {}
  },
  computed: {
    logged_user () {
      return this.$store.state.auth.currentUser
    }
  },
  asyncData (context) {
    // const username = context.params.username
    return Promise.all([
      api.listSwarm()
    ]).then(result => {
      return {
        swarms: result[0].data
      }
    })
  },
  mounted () {
    if (!this.logged_user) {
      this.$router.push({ name: 'home' })
    }
  }
}
</script>

<style>
</style>
