<template>
  <v-layout justify-center align-center>
    <species :species="species" />
  </v-layout>
</template>

<script>
import api from '~api'
import species from '~/components/species.vue'

export default {
  layout: 'default',
  components: {
    species
  },
  data () {
    return {}
  },
  asyncData () {
    return api.listSpecie().then(result => {
      return {
        species: result.data
      }
    })
  }
}
</script>

<style>
</style>
