<template>
  <v-layout>
    <swarm-register-form />
  </v-layout>
</template>

<script>
import swarmRegisterForm from '~/components/swarm-register-form.vue'

export default {
  layout: 'default',
  components: {
    swarmRegisterForm
  },
  data () {
    return {}
  }
}
</script>

<style>
</style>
