<template>
  <v-layout>
    <user-register-form />
  </v-layout>
</template>

<script>
import userRegisterForm from '~/components/user-register-form.vue'

export default {
  layout: 'default',
  components: {
    userRegisterForm
  },
  data () {
    return {}
  }
}
</script>

<style>
</style>
